.header__title {
    font-size: var(--h1-size);
    font-weight: 500;
    line-height: 1.28;
    margin: 40px 0;
}
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    margin-top: 25px;
}

.main-menu {
    display: flex;
    justify-content: space-between;
}
.main-menu__item {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    color: var(--grey-3);
}
.main-menu__item:not(:first-child) {
    margin-left: 24px;
}
.main-menu__item-active {
    color: var(--black);
}