.toggle {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 28px;
}

.toggle__input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--grey-2);
    border-radius: 16px;
}
.toggle__slider:before {
    border-radius: 50%;
}

.toggle__slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 2px;
    bottom: 2px;
    background-color: var(--white);
}

.toggle__input:checked + .toggle__slider {
    background-color: var(--blue);
}

.toggle__input:checked + .toggle__slider:before {
    transform: translateX(24px);
}
