html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: green;
    padding: 15px;
}
h1, h2, footer, article, nav ul {
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0;
    padding: 10px;
    text-align: center;
    background-color: red;
}

nav {
    text-align: center;
    background-color: orange;
}
    nav a {
        color: #fff;
        font-size: 24px;
    }
    nav ul {
        list-style: none;
        display: flex;
        justify-content: center;
    }
        nav ul li {
            padding: 10px;
        }

article {
    background-color: blue;
    flex: 1;
    padding: 10px;
}
    article:nth-child(1) {
        margin-bottom: 10px;
    }
    article ul {
        margin: 0;
    }

footer {
    background-color: #7048E8;
    padding: 10px;
    font-size: 32px;
    text-align: center;
}
