<!DOCTYPE html>
<!-- Главная страница -->
<html lang="ru">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css">
    <link rel="stylesheet" href="../../assets/css/main.css">

    <link rel="stylesheet" href="./template.css">
</head>
<body>
<div class="page">
    <header class="page__header">
        <h1>Header</h1>
    </header>
    <main class="page__main">
        <div class="menu">
            <div class="menu__title">Components</div>
            <div class="menu__item">Modal</div>
            <div class="menu__item">Tooltip</div>
            <div class="menu__item">Avatar</div>
            <div class="menu__item">Calendar</div>
            <div class="menu__item">Histogram</div>
            <div class="menu__item">Custom form elements</div>
            <div class="menu__item">Main page</div>
        </div>
        <div class="component">
            <h1>Histogram</h1>
        </div>
    </main>
    <footer class="page__footer">
        Reusable component library
    </footer>
</div>
</body>
</html>
