.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 70px;
}
.footer__title {
    font-size: var(--h2-size);
    line-height: 48px;
    font-weight: 500;
    margin-top: 0;
}
.footer__description {
    line-height: 1.5;
    max-width: 640px;
    text-align: center;
}