.component {
    background-color: var(--white);
    box-shadow: var(--gradient);
    border-radius: 12px;
    padding: 32px 16px;
}
.component__title {
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin: 0;
    color: var(--grey-4);
}
@media screen and (min-width: 1110px) {
    .component {
        padding: 32px 48px;
    }
    .component__title {
        font-size: 28px;
        line-height: 38px;
    }
}