.burger-menu {
    display: none;
    flex-direction: column;

    width: 100%;
    background-color: var(--white);

    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
    height: 100%;
}
.burger-menu[data-open] {
    display: flex;
}
.burger-menu__input {
    width: 0;
    height: 0;
    clip: rect(0, 0, 0, 0);
    position: absolute;
}
.burger-menu__item, .burger-menu__title, .burger-menu__item_single {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    color: var(--grey-4);
}
.burger-menu__item {
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    margin-top: 16px;
}
.burger-menu__item_selected {
    color: var(--red);
}
.burger-menu__title {
    font-family: Inter, sans-serif;
    font-size: 20px;
    line-height: 26px;
    color: var(--grey-3);
}
.burger-menu__item_single {
    color: var(--grey-4);
    margin: 0;
}
.burger-menu__theme {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.burger-menu__header {
    display: flex;
    justify-content: center;
    padding: 17px 0 8px;
}
.burger-menu__close {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--grey-2);

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 16px;
    left: 12px;
}
.burger-menu__content {
    margin: 0 16px 43px;
}
.burger-menu__divider {
    border: 1px solid var(--grey-2);
    margin: 24px 0;
}

