.preview {
    flex: 1;
    background-color: var(--bg-color);
    border: 1px solid var(--grey-2);
    padding: 22px 16px 174px;
    box-sizing: border-box;
    display: flex;
    gap: 30px;
    flex-direction: column;
}
.preview__box {
    display: flex;
    flex-flow: row wrap;
    margin: -8px;
}
.preview__item {
    width: calc(50% - 16px);
    flex-basis: auto;
    margin: 8px;
}
@media screen and (min-width: 1110px) {
    .preview {
        padding: 68px 30px 174px;
    }
    .preview__box {
        margin: -15px;
    }
    .preview__item {
        width: calc(33.33333% - 30px);
        flex-basis: 350px;
        margin: 15px;
    }
}

.card {
    height: 210px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: var(--white);
    box-shadow: 0 2px 4px var(--box-shadow);
    border-radius: 12px;
}
.card__title {
    width: 100%;
    padding: 10px;
    text-align: center;
    border-top: 1px solid var(--grey-2);
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
@media screen and (min-width: 1110px) {
    .card {
        height: 367px;
    }
    .card__title {
        padding: 30px;
        text-align: center;
        font-size: 21px;
        font-weight: 500;
        border: none;
    }
}
