.preview {
    flex: 1;
    background-color: var(--bg-color);
    border: 1px solid var(--grey-2);
    padding: 68px 30px 174px;
}
.preview__box {
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    margin: -15px;
}
.preview__item {
    width: calc(33.33333% - 30px);
    flex-basis: 350px;
    margin: 15px;
}
@media screen and (max-width: 600px) {
    .preview__item {
        flex-basis: 100%;
    }
}

.card {
    height: 367px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: var(--white);
    box-shadow: 0 2px 4px var(--box-shadow);
    border-radius: 12px;
}
.card__title {
    padding: 30px;
    text-align: center;
    font-size: 21px;
    font-weight: 500;
}
