.input {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    width: 100%;
    color: var(--grey-4);
}
.input__label {
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-align: left;
    color: var(--grey-3);
    text-transform: uppercase;
    margin-bottom: 5px;
}
.input__wrapper {
    position: relative;
}
.input__icon {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translate(0, -50%);
}
.input__field {
    border: 1px solid var(--grey-2);
    color: var(--grey-4);
    box-sizing: border-box;
    border-radius: 8px;
    height: 56px;
    padding: 17px 24px;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 100%;
}
.input__field::placeholder {
    color: var(--grey-2);
}
.input__field:focus {
    outline: none;
    border-color: var(--blue);
    box-shadow: 0 1px 1px rgba(51, 154, 240, 0.1);
}
.input__disabled .input__field,
.input__field:disabled {
    background-color: var(--grey-1);
    cursor: not-allowed;
}
.input__error .input__field {
    border: 1px solid var(--red);
}
.input__error .input__label {
    color: var(--red);
}